@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import "https    ://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css";

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

#canvas {
  position : fixed;
  top      : 0;
  left     : 0;
  right    : 0;
  bottom   : 0;
  display  : flex;
  flex-flow: column;
}

#header {
  height:60px;
  border-bottom:solid 1px #ccc;
  outline:solid 1px blue;
}

#main {
  flex:1 1 0;
}

article {
  background: white;
  flex      : 1 1 0;
  overflow  : auto;
  padding   : 50px 250px 40px 60px;

}

aside {
  position   : fixed;
  top        : 0;
  right      : 20px;
  width      : 200px;
  padding-top: 30px;
}

#nav {
  width          : 300px;
  background     : #f5f7f9;
  box-shadow     : -1px 0 0 0 #E6ECF1 inset;
  cursor         : default;
  user-select    : none;
  overflow       : auto;
  scrollbar-width: thin;
  padding-left   : 12px;
}


#nav>.item {
  display    : block;
  color      : #222;
  word-break : break-word;
  line-height: 1.5;
}

#nav>.item[data-nav-level="0"] {
  font-size  : 24px;
  font-weight: bold;
  padding    : 20px 16px;
}

#nav>.item[data-nav-level="1"] {
  font-weight: bold;
  font-size  : 16px;
  padding    : 8px 0 8px 20px;
  flex       : 1;
  font-size  : 14px;
  font-weight: 500;
  color      : #5C6975;
  padding    : 7px 24px 7px 16px;
}

#nav>.item[data-nav-level="2"] {
  font-size   : 14px;
  padding-left: 2em;
  padding-top : 0.25em;
  padding     : 4px 0 4px 30px;
  color       : rgb(157, 170, 182);
  font-weight : 500;
  padding     : 7px 24px 7px 16px;
  margin-left : 24px;
  box-shadow  : 1px 0 0 0 #e5e7e9 inset;
}

#nav>.item[data-nav-level="3"] {
  font-size   : 14px;
  padding-left: 2em;
  padding-top : 0.25em;
  padding     : 4px 0 4px 30px;
  color       : rgb(157, 170, 182);
  font-weight : 500;
  padding     : 7px 24px 7px 16px;
  margin-left : 36px;
  box-shadow  : 1px 0 0 0 #e5e7e9 inset;
}

#nav>.item[data-nav-active="true"] {
  background: #fff;
  box-shadow: 0px 0 0 1px #e5e7e9 inset;
  color     : rgb(56, 132, 254);
}

#nav>a.item:hover {
  background: #e5e7e9;

}

aside:empty {
  display: none;
}


aside>nav {
  align-self : flex-start;
  padding    : 6px 12px;
  background : white;
  font-size  : 13px;
  font-weight: bold;
  color      : rgb(116, 129, 141);
  line-height: 2;
  box-shadow : 1px 0 0 0 #e5e7e9 inset;
}

aside>nav a {
  color: inherit;
}

#toc>.item {
  display      : block;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

#toc>.item[data-toc-level="1"] {
  padding-left: 5px;
  font-size   : 14px;
  color       : #666;
}

#toc>.item[data-toc-level="2"] {
  padding-left: 5px;
}

#toc>.item[data-toc-level="3"] {
  padding-left: 20px;
}

#toc>.item[data-toc-level="4"] {
  padding-left: 35px;
}

#toc>.item[data-toc-level="5"] {
  padding-left: 50px;
}

#toc>.item:hover {
  color: rgb(56, 132, 254);
}

nav::-webkit-scrollbar-track {
  background-color: #F5F7F9;
}

nav::-webkit-scrollbar {
  width           : 6px;
  background-color: #F5F5F5;
}

nav::-webkit-scrollbar-thumb {
  background-color: #d5d7d9;
  transition      : all 0.5s;
}

nav:hover::-webkit-scrollbar-thumb {
  background-color: #c5c7c9;
}

.markdown-body {
  font-family: Roboto, sans-serif;
}


.markdown-body pre {
  font-family: 'Source Code Pro', monospace;
}

.markdown-body :not(pre)>code {
  font-family: 'Source Code Pro', monospace;
  background : none;
  margin     : 0;
  padding    : 0;
  font-weight: 700;
  color      : #444;
  font-size  : 95%;
}
